body {
	background-color: #F8B5CB;
}

.bling {
	font-family: "Helvetica Neue", "Arial", sans-serif;
	color: white;
	font-weight: bold;
	font-style: italic;
	font-size: 7.2vh;
}

.edit {
	text-transform: uppercase;
}

#hotline {
	width: 100%;
	text-align: center;
}